{% extends 'base.html.twig' %}

{% block title %}{{ categoryName }}{% endblock %}

{% block body %}
    {% for program in programs %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
           <a href="{{ path('program_show', {id: program.id}) }}"> <h1 class="mt-0">{{ program.title }}</h1> </a>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>
    {% endfor %}

    <a href="{{ path('category_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}