{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
    <div>
        <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
        <p>{{ program.synopsis }}</p>
        {# Lien vers la fiche de la série : #}
        <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
    </div>
    {% endfor %}
    <a href="{{ path('index') }}">
        Retour à l'accueil
    </a>
{% endblock %}